<div class="footer">
    <div class="my-container">
        <div class="row">
            <div class="footer__left col-3">
                <a class="footer__logo-wrap" href="#">
                    <img class="logo footer__logo" src="../img/logoMain.png" alt="logo">
                </a>
            </div>
            <div class="footer__lists col-6">
                <div class="row">
                    <div class="footer__list-wrap col-4">
                        <a href="#" class="footer__list-title">
                            КАТАЛОГ
                        </a>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Для лица</a>

                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Для тела</a>

                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Для волос</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Макияж</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__link">Парфюмерия</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__list-wrap col-4">
                        <a href="#" class="footer__list-title">
                            СЕРВИС
                        </a>
                        <div class="footer__list">
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Оплата и доставка</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Условия возврата</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Правовая информация</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Политика безопасности</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Вопросы и ответы</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__list-wrap col-4">
                        <a href="#" class="footer__list-title">
                            О МАГАЗИНЕ
                        </a>
                        <div class="footer__list">
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Контакты</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Наша история</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Сотрудничество</a>
                            </div>
                            <div class="footer__list-item">
                                <a href="#" class="footer__link">Бренды A-Z</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__right col-3">
                <div class="footer__contacts">
                    <a href="tel:+73952769888" class="footer__phone">
                        +7 (3952) 769-888
                    </a>
                    <div class="footer__phone-after">
                        Ежедневно с 9:00 до 21:00
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script src="js/main.min.js"></script>