<div class="header">
    <div class="header__top container-fluid">
        <div class="row">
            <div class="header__top-item col-5">
                <div class="header__city">
                    <a href="#">
                        <div class="icon header__city-icon">
                            <img src="../img/svg/placeholder.svg" alt="placeholder">
                        </div>
                        Иркутск
                    </a>
                </div>
                <div class="header__sex">
                    <a href="#" class="header__sex-item header__sex-item_active">
                        Женское
                    </a>
                    <a href="#" class="header__sex-item">
                        Мужское
                    </a>
                </div>
            </div>
            <div class="header__top-item col-2 header__logo-wrap">
                <a href="#">
                    <img class="logo" src="../img/logoMain.png" alt="logo">
                </a>
            </div>
            <div class="header__top-item col-5 right">
                <div class="header__icon-list">
                    <a href="#" class="icon header__icon">
                        <img src="../img/svg/search.svg" alt="search">
                    </a>
                    <a href="#" class="icon header__icon">
                        <img src="../img/svg/user.svg" alt="user">
                    </a>
                    <a href="#" class="icon header__icon">
                        <img src="../img/svg/like.svg" alt="like">
                    </a>
                    <a href="#" class="icon header__icon">
                        <img src="../img/svg/shopping-bag.svg" alt="shopping-bag">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <ul class="header__nav">
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">НОВИНКИ</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">БРЕНДЫ</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">ДЛЯ ВОЛОС</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">ДЛЯ ТЕЛА</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">ДЛЯ ЛИЦА</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">МАКИЯЖ</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">ПАРФЮМЕРИЯ</a>
        </li>
        <li class="header__nav-item">
            <a class="header__nav-link" href="#">АКЦИИ</a>
        </li>
    </ul>
</div>