<link rel="stylesheet" href="../../../../../qwe/stylesheet.css">
<div class="products gray-bg">
    <div class="container">
        <div class="products__inner">
            <div class="products__top">
                <div class="products__header">
                    НОВИНКИ
                </div>
                <div class="products__header-after">
                    показать все
                </div>
            </div>
            <div class="products__list">
                <div class="owl-carousel">

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="products__product product">
                            <div class="product__inner">
                                <div class="product__img">
                                    <img src="../img/sothys.jpg" alt="">
                                </div>
                                <div class="product__title-wrap">
                                    <div class="product__title">
                                        МАСКА ДЛЯ ВОЛОС
                                        SOTHYS HYDRA
                                    </div>
                                </div>
                                <div class="product__title-after">
                                    арт: 147140 019
                                </div>
                                <div class="product__price">
                                    3500 Р
                                </div>
                            </div>
                            <div class="product__hidden">
                                <div class="btn product__btn">
                                    <a class="btn__link" href="#">В корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>